#navbar-side__container {
    background-color: black;
    height: calc(100vh - 80px) !important;
    width: 325px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: white;
}

#navbar-side__container .active {
    border-left: 4px solid white
}

#navbar-side__container a {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    padding: 12px 0px 12px 25px;
}

#navbar-side__links {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#navbar-side__links a:hover {
    border-left: 4px solid white
}

.navbar-icon {
    font-size: 1.2rem;
    width: 50px;
}

#navbar-side__container #navbar-side__logo {
    font-size: 2.5rem;
    margin: 10px 10px 10px 0px;
}

#navbar-side__container #navbar-side__logo:hover {
    background-color:none;
}

#navbar-side__playlists {
    border-top: 4px solid white;
    display: flex;
    flex-direction: column;
    height: 100%
}

#navbar-side__playlists a:hover {
    border-left: 4px solid white
}

#navbar-side__create button {
    padding: 10px;
    border: 0px;
    background-color: black;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

#navbar-side__create:hover {
    cursor: pointer;
    border-left: 4px solid white
}

#navbar-side__playlists-name {
    margin: 30px 30px 25px 30px;
    display: flex;
    font-size: 1.2rem;
}
