#navbar-top__container {
  background-color:rgba(0, 0, 0, 0);
  height: 75px;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: white;
}

#navbar-top__arrows {
  display: flex;
  justify-content: center;
  width: 7vw;
}

#navbar-top__links {
  width: 10vw;
}

#navbar-top__links a {
  color: white;
  text-decoration: none;
  margin: 10px;
}

#navbar-top__session {
  display: flex;
  justify-content: flex-end;
  width: 70vw;
  margin: 50px;
}

#navbar-top__session a {
  color: white;
  text-decoration: none;
  /* margin: 50px; */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: flex-end; */
}

.profile-dropdown {
  position: absolute;
}
