#signup__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1.1rem;
}

#signup__form h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

#signup__form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#signup__form-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 75%;
}

#signup__form input {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 10px;
}

#signup__form-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
}

#signup__form button {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    width: 300px;
    background-color: rgb(54, 226, 63);
    margin-bottom: 15px;
    padding: 15px 50px 15px 50px;
    border: none;
    border-radius: 100px;
}

#signup__form button:hover {
    transform: scale(1.02);
    cursor: pointer;
}

#signup__form-login {
    display: flex;
    justify-content: center;
    align-items: center;
}

#signup__form-login button {
    margin-left: 10px;
    margin-top: 20px;
    height: 40px;
    width: 180px;
    color: rgb(54, 226, 63);
    background-color: white;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#signup__form-login button:hover {
    transform: scale(1.02);
    background-color: white;
}

.form__logo {
    font-size: 4rem;
    margin-right: 10px;
}
