#playlist-info__container {
    display: flex;
}

#playlist-info__content {
    background-image: linear-gradient(red, black);
    height: calc(100vh - 80px) !important;
    width: 90%;
    overflow-y: scroll;
}

#playlist-info__header {
    display: flex;
    margin-top: 100px;
}

#playlist-info__header img {
    background-color: rgba(0, 0, 0, 0.603);
    border: 1px solid grey;
    height: 230px;
    width: 230px;;
    margin: 50px 25px 25px 75px;
    object-fit: cover;
    box-shadow: 3px 3px 3px black;
}

#playlist-info__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin: 0px 0px 25px 10px;
}

#playlist-info__name {
    font-size: 6rem;
    font-weight: bold;
}

#playlist-info__sub {
    font-size: 1.3rem;
}

#playlist-info__edit {
    color: white;
    margin: 0px 0px 0px 90px;
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}

#playlist-info__edit button {
    border: none;
    background: transparent;
    color: white;
    font-size: 1.5rem;
}

#playlist-info__edit button:hover {
    cursor: pointer;
}

#playlist-song__main {
    color: white;
    margin: 25px 0px 25px 50px;
}

#playlist-song__header {
    font-size: 2rem;
    font-weight: bold;
}

#playlist-song__container {
    margin: 25px 25px 0px 50px;
    color: white;
}

#playlist-song__content {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

#playlist-song__click {
    display: flex;
    width: 95%
}

#playlist-song__bar {
    display: flex;
    align-items: center;
    width: 94%;
    height: 40px;
    padding: 10px 15px 10px 15px;
    border-radius: 7px;
    font-size: 1.2rem;
    margin: 5px 0px 5px 0px;
}

#playlist-song__bar:hover {
    cursor: pointer;
    background-color: rgba(42, 42, 42, 0.4);
}

#playlist-song__id {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

#playlist-song__trash {
    margin-right: 10px;
}

#playlist-song__bar img {
    height: 45px;
    width: 45px;
}

#playlist-song__info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

#playlist-song__sub {
    font-size: .95rem;
}
