#playlist-info__container {
    display: flex;
}

#playlist-info__content {
    background-color: rgba(0, 0, 0, 0.603);
    height: calc(100vh - 80px) !important;
    width: 85%;
}

#playlist-info__header {
    display: flex;
    margin-top: 100px;
}

#playlist-info__header img {
    background-color: rgba(0, 0, 0, 0.603);
    height: 230px;
    width: 230px;
    margin: 50px 25px 25px 75px;
}

#playlist-info__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    margin: 0px 0px 25px 10px;
}

#playlist-info__name {
    font-size: 6rem;
    font-weight: bold;
}

#playlist-info__sub {
    font-size: 1.3rem;
}

#playlist-info__options {
    color: white;
    margin: 10px 0px 10px 65px;
    display: flex;
    justify-content: space-evenly;
    width: 200px;
}
