#homepage__container {
    display: flex;
    background-image: linear-gradient(rgb(42, 42, 42), black);
}

#homepage__content {
    overflow-y: scroll;
    height: calc(100vh - 80px) !important;
    width: 90%;
}
