#landing__container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#landing__container img {
    object-fit: fill;
    height: calc(100vh - 90px) !important;
    width: 100vw;
}

#landing__navbar {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

#landing__navbar-content {
    width: 65vw;
    display: flex;
    justify-content: space-between;
}

#landing__navbar-content a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 25px
}

#landing__navbar-content a:hover {
    color: rgb(54, 226, 63);
}

#logo {
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: 3rem;
}

#logo-img {
    font-size: 2.5rem;
}

#logo div {
    margin: 10px;
}

#landing__navbar-session {
    display: flex;
    align-items: center;
}

#landing__navbar-session button {
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    background-color: black;
    border: 0;
    padding: 20px 25px 20px 25px;
}

#landing__navbar-session button:hover {
    color:rgb(54, 226, 63);
    cursor: pointer;
}

#landing__main {
    display: flex;
    justify-content: center;
    background-image: url(./splash-soundify.jpg);
    background-size: 100vw 130vh;
    height: calc(100vh - 90px) !important;
}

#landing__content {
    font-size: 6rem;
    font-weight: bold;
    color: white;
    width: 55%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 170px;
}

#landing__content a {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    background-color: rgba(54, 226, 63, 0.85);
    border-radius: 100px;
    padding: 20px 50px 20px 50px;
    margin-top: 30px;
    width: 150px;
}

#landing__content a:hover {
    transform: scale(1.02);
}
