#edit__form {
    color: white;
}

#edit__form h1 {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
}

#edit__form form {
    display: flex;
    flex-direction: column;
}

#edit__content {
    display: flex;
}

#edit__input {
    display: flex;
    flex-direction: column;
    margin: 30px 0px 20px 0px;
}

#edit__input label {
    font-size: 1.1rem;
    margin-top: 20px;
}

#edit__input input {
    width: 280px;
    font-size: 1.1rem;
}

#edit__description {
    width: 280px;
    height: 80px;
    font-size: 1.1rem;
}

#edit__image {
    margin-top: 40px;
    width: 235px;
}

#edit__image img {
    height: 180px;
    width: 180px;
    border: 1px solid grey;
    object-fit: cover;
}

#edit__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

#edit__form button {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    width: 300px;
    border-radius: 100px;
    padding: 15px 50px 15px 50px;
    background-color: rgba(54, 226, 63, 0.85);
    border:none;
}

#edit__form button:hover {
    cursor: pointer;
    transform: scale(1.02);
}
