#library__container {
    display: flex;
}

#library__content {
    background-image: linear-gradient(blue, black);
    color: white;
    height: calc(100vh - 80px) !important;
    overflow-y: scroll;
    height: 70%;
    width: 85%;
}

.collection__info {
    margin: 130px 0px 25px 50px;
}

.collection__name {
    font-size: 3rem;
    font-weight: bold;
}

.collection__count {
    font-size: 1rem;
}

.library__content {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 25px 50px;
}

.library__content a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    width: 100%;
}

.library__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 250px;
    margin: 30px;
    padding: 25px;
    border-radius: 7px;
    background-color: rgba(42, 42, 42, 0.4);
}

.library__card:hover {
    background-color: rgb(0, 0, 138);
    cursor: pointer;
}

.library__card img {
    background-color: grey;
    border: 1px solid grey;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#library__card-name {
    margin-top: 15px;
}

#library__card-info {
    font-size: 1rem;
}

#library__song-content {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 25px 50px;
}
