#library__container {
    display: flex;
}

#library__results {
    background-image: linear-gradient(blue, 20%, black);
    color: white;
    height: calc(100vh - 80px) !important;
    width: 90%;
    overflow-y: scroll;
}

.collection__info {
    margin: 130px 0px 25px 50px;
}

.collection__name {
    font-size: 3rem;
    font-weight: bold;
}

.collection__count {
    font-size: 1rem;
}

.library__content {
    margin: 0px 0px 25px 50px;
}

.library__content a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}

#library__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.library__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 250px;
    margin: 30px;
    padding: 25px;
    border-radius: 7px;
    background-color: rgba(42, 42, 42, 0.4);
}

.library__card:hover {
    background-color: rgb(0, 0, 138);
    cursor: pointer;
}

.library__card img {
    background-color: grey;
    border: 1px solid grey;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#library__card-name {
    margin-top: 15px;
}

#library__card-info {
    font-size: 1rem;
}

#library__song-content {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 25px 50px;
}

#library__song-content img {
    height: 45px;
    border: 1px solid grey;
    object-fit: cover;
}

#library__song-content button {
    background-color: rgba(0,0,0,0);
    border: none;
    font-size: 1.2rem;
    color: white;
}

#library__song-content button:hover {
    cursor: pointer;
}


#library-song__bar {
    display: flex;
    width: 95%;
    height: 40px;
    padding: 10px 15px 10px 15px;
    border-radius: 7px;
    font-size: 1.2rem;
    margin: 5px 0px 5px 25px;
}

#library-song__bar:hover {
    cursor: pointer;
    background-color: rgba(42, 42, 42, 0.4);
}

#library-song__click {
    display: flex;
    align-items: center;
    width: 90%
}

#library-song__id {
    width: 10px;
    display: flex;
    justify-content: center;
}

#library-song__bar img {
    height: 45px;
    width: 45px;
    margin: 10px;
    margin-left: 20px;
    border: 1px solid grey;
    object-fit: cover;
}

#library-song__info {
    display: flex;
    flex-direction: column;
    width: 100%
}

#library-song__sub {
    font-size: .95rem;
}
