/* TODO Add site wide styles */
body {
    margin: 0;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

*::-webkit-scrollbar {
    width: 15px;
    z-index: 1000000
  }

*::-webkit-scrollbar-track {
  background-color: black;
}

*::-webkit-scrollbar-thumb {
  background-color: white;
}
