#navbar__container {
  background-color:rgba(0, 0, 0, 0);
  height: 5vh;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  color: white;
}

#navbar__arrows {
  margin: 50px;
}

#collection-links a {
  color: white;
  text-decoration: none;
  margin: 10px;
}

#navbar__right a {
  color: white;
  text-decoration: none;
  /* margin: 50px; */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: flex-end; */
}

.profile-dropdown {
  position: absolute;
}
